.solve-button-container{
    text-align:center; 
    margin-top: 40px;
}

.clean-button-container{
    text-align:center; 
    margin-top: 10px;
}

.restart-button-container{
    text-align:center; 
    margin-top: 10px;
}
