<div class="islands-form-frame">
    <div [hidden]="appRouted">
        <div class="enter-bitmap-size-container">
            <span class="enter-bitmap-size">Please enter bitmap size:</span>
        </div>
        <div class="bitmap-size-input">
            <input class="input-properties" [(ngModel)]="rawMatrixSize" type="text" placeholder={{placeholder}} (focus)="onInputFocus()"  (blur)="onInputBlur()">
        </div>
        <div class="error-message-contanier">
            <span [hidden]="!errorMessage" class="error-message">please enter a valid bitmap size!</span>
            <span [hidden]="!zeroValueErrorMessage" class="error-message">Size n and m cannot be equal to 0</span>
        </div>
        
        <div class="randomize-button-container">            
            <button [routerLink]="['/random']" class="button-properties" [disabled]="!rawMatrixSize" (click) = loadMatrix()>RANDOMIZE</button>        
        </div>
        <div class="create-button-container">
            <button [routerLink]="['/create']" class="button-properties"  [disabled]="!rawMatrixSize" (click) = loadMatrix()>DRAW</button>
        </div>
    </div>

    <div [hidden]="!appRouted">
        <router-outlet></router-outlet>
    </div>
</div>





