<div>  
  <div class="islands-table-container">
    <div >
      <div class="arrow-up" (click)="pagingObj.currentTopRow !== 0? setPage('up') : ''" [hidden]="pagingObj.currentTopRow == 0 || pagingObj.totalRows <=  pagingObj.maxItemDisplayed"></div>
      <div class="arrow-left" (click)="pagingObj.currentLeftColumn !== 0? setPage('left') : ''" [hidden]="pagingObj.currentLeftColumn == 0 || pagingObj.totalColumns <=  pagingObj.maxItemDisplayed"></div>
      <div class="arrow-right" (click)="pagingObj.currentLeftColumn + pagingObj.maxItemDisplayed !== pagingObj.totalColumns? setPage('right') : ''" 
                                [hidden]="pagingObj.currentLeftColumn + pagingObj.maxItemDisplayed == pagingObj.totalColumns || pagingObj.totalColumns <=  pagingObj.maxItemDisplayed"></div>      
      <table class="islands-table" [style.margin-top]="tableMarginTop">
        <tr *ngFor="let nElement of desplayedMatrix; let i = index">
            <td *ngFor="let mElement of nElement; let j = index" [style.background-color]="getColor(mElement)" (mouseover)="signCell(i, j, $event)"></td>
        </tr>       
      </table>   
      <div class="last-cell-over" [hidden]="lastCellOver.length == 0" [style.margin-left]="pagingObj.totalColumns <= pagingObj.maxItemDisplayed? '250px' : ''">({{lastCellOver[0]}},{{lastCellOver[1]}})</div>      
      <div class="arrow-down" (click)="pagingObj.currentTopRow + pagingObj.maxItemDisplayed !== pagingObj.totalRows? setPage('down') : ''"             
           [hidden]="pagingObj.currentTopRow + pagingObj.maxItemDisplayed == pagingObj.totalRows || pagingObj.totalRows <=  pagingObj.maxItemDisplayed"></div>  
    </div>       
  </div>
  <div style="position: absolute; margin-left: 225px; margin-top: 10px; font-weight: bold;">
      <span [hidden]="islandsFound === -1" class="islands-found-message">FOUND {{islandsFound}} ISLANDS!</span>    
  </div>  
  

  <div class="solve-button-container">     
    <button class="button-properties" (click) = solve() [disabled]="islandsFound !== -1" >SOLVE </button>        
  </div> 
  <div class="shuffle-button-container">      
    <button class="button-properties" (click)="shuffleMatrix()">SHUFFLE</button>
  </div>
  <div class="restart-button-container">
    <button [routerLink]="['/']" class="button-properties" (click)="restart()">RESTART</button>
  </div>
</div>
