.islands-table-container{
    text-align:center; 
    overflow: hidden;       
    height: 565px;
    margin: 30px;

}

.islands-table { 
    /*border:5px solid #333;*/
    border-collapse: collapse; 
    table-layout: fixed;
    margin: auto;
}

.islands-table td{
    height:20px;
    width:20px;    
    min-width: 20px;
    border: black 1px solid;
    margin: 0;
    padding: 0;
}

.button-properties{
    background-color: steelblue;
    color: white;
    border: black;
    border-radius: 8px;
    height: 28px;
    width: 100px;
}

.button-properties:hover:enabled{
    background-color: white;
    color: black;
    border: steelblue 1px solid;
    cursor: pointer;
}

.button-properties:hover:disabled{
    cursor: not-allowed;
}

.island-found-message{
    position: absolute; 
    margin-left: 225px; 
    margin-top: 10px; 
    font-weight: bold;
} 

.arrow-up {
    position: absolute;     
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;    
    border-bottom: 20px solid steelblue;
    margin-left: 250px;
    margin-top: -28px;
}

.arrow-down {
    position: absolute;         
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid steelblue;
    margin-left: 250px;
    margin-top: 10px;
}

.arrow-right {
    position: absolute;     
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid steelblue;
    margin-left: 540px;
    margin-top: 243px;
}

.arrow-left {
    position: absolute;     
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid steelblue; 
    margin-left: -20px;
    margin-top: 243px;
}

.disabled-arrow-up {
    border-bottom: 20px solid lightgray;
}

.disabled-arrow-down {
    border-top: 20px solid lightgray;
}

.disabled-arrow-left {
    border-right: 20px solid lightgray;
}

.disabled-arrow-right {
    border-left:20px solid lightgray; 
}
